//colores//

$color-primario: #F2F2F2;
$color-secundario:#F22294;
$color-terciario: #F2226E;
$color-alternativo: #D91A1A;
$color-alternativo2: #85A68E;

// sombras  //

$sombreado-blanco: #f2f2f2c2;

//tipografias//

$tipografia-principal: 'roboto mono', monospace;
$tipografia-secundaria: 'Lato', sans-serif;

// alturas //

//altura del header //
$height: 200px;

